*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Gilroy';
    src: url(Fonts/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf);
}

.wrapper{
    width: 1170px;
    height: auto;
    margin: auto;
}
header{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("images/bg.png");
    height: 115vh;
    -webkit-background-size:cover;
    background-size: cover;
    object-fit: cover;
    background-position: center center;
    position: relative;
}
.nav-area{
    float: right
    list-style-type none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family:'Gilroy';
    font-size: 14px;
}
.nav-area li a:hover{
    background: white;
    color: #333;
}
.logo img{
    width: 100px;
    align-items: center;
    height: auto;
}
.github-info{
    position: absolute;
    width: 500px;
    height: 300px;
    margin: 5% 10%;
    text-align: center;
    color: white;
    font-family:'Gilroy';
    font-size: 30px;
}
.github-info h1{
    margin-right: -535px;
}
.github-info img{
    width: 100px;
    margin-right: -535px;
    height: auto;
}
.github-info p{
    color: white;
    text-decoration: none;
    text-align: center;
    width: 500px;
    height: 300px;
    margin-left: 250px;
    margin-right: -50px;
    margin-bottom: 20px;
    padding: 5px 20px;
    font-family:'Gilroy';
    font-size: 18px;
}
.github-info a{
    color: #39FF14;
    font-family: 'Gilroy';
    font-size: 24px;
    text-decoration: none;
    
    
}
.leetcode-info{
    position: absolute;
    width: 400px;
    height: 300px;
    left: 850px;
    text-align: center;
    margin: 5% 10%;
    color: white;
    font-family:'Gilroy';
    font-size: 30px;
}
.leetcode-info h1{
   margin-top: 3px; 
} 
.leetcode-info img{
    width: 110px;
    float: center;
    margin-top: 10px;
    height: auto;
}
.leetcode-info p{
    color: white;
    text-decoration: none;
    text-align: center;
    width: 300px;
    height: auto;
    padding: 15px 25px;
    font-family:'Gilroy';
    font-size: 18px;
    margin-top: -20px;
    margin-left: 30px;  
}
.leetcode-info a{
    color: #39FF14;
    text-decoration: none;
    font-family:'Gilroy';
    font-size: 24px;
   
}
.linkedin-info{
    position: absolute;
    width: 400px;
    height: 300px;
    left: 850px;
    top: 150px;
    text-align: center;
    margin: 5% 10%;
    color: white;
    font-family:'Gilroy';
    font-size: 30px;
}
.linkedin-info h1{
   margin-top: 350px;
   margin-left: -590px; 
} 
.linkedin-info img{
    position: absolute;
    width: 110px;
    float: center;
    margin-left: -354px;
    margin-top: 20px;
    height: auto;
}
.linkedin-info p{
    position: absolute;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 300px;
    height: auto;
    padding: 15px 25px;
    font-family:'Gilroy';
    font-size: 18px;
    margin-top: -20px;
    margin-left: -270px;  
}
.linkedin-info a{
    position: absolute;
    margin-top: 105px;
    margin-left: -100px;
    color: #39FF14;
    text-decoration: none;
    font-family:'Gilroy';
    font-size: 24px;
   
}  

@media all and (max-width: 500px) {
    header {
        background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("images/bg.png");
        height: 300vh;
        width: max-content;
        -webkit-background-size:cover;
        background-size: cover;
        background-position: right right;
        position: relative;
    }
}