*{
    margin: 0;
    padding: 0;
    
}
.wrapper{
    width: 1170px;
    height: auto;
    margin: auto;
}
@font-face {
    font-family: 'Gilroy';
    src: url(Fonts/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf);
}

header{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("images/aesthetic.png");
    height: 120vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: right right;
    position: relative;
}
.nav-area{
    list-style-type: none;
    font-family: 'Gilroy';
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family:'Gilroy';
    font-size: 14px;
}
.nav-area li a:hover{
    background: white;
    color: #333;
}
.logo img{
    width: 100px;
    height: auto;
    display: inline-block
}
.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 10% 20%;
    text-align: left;
    top: -20px;
    left: -95px;
    color: white;
    font-family:'Gilroy';
    font-size: 30px;
}
.welcome-text hr{
    width: 1300px;
}
.welcome-description{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 10% 20%;
    text-align: left;
    top: 60px;
    left: -95px;
    color: white;
    font-family:'Gilroy';
    font-size: 24px;
}
.skills{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 10% 20%;
    text-align: left;
    top: 320px;
    left: -120px;
    color: white;
    font-family:'Gilroy';
    font-size: 12px;
}
.skills hr{
    width: 190px;
    
}
.logo2 img{
    width: 250px;
    height: auto;
    float: center;
    margin-left: 240px;
    margin-top: 170px;
}
.giphy img{
    width: 220px;
    height: auto;
    float: center;
    margin-top: -500px;
    margin-bottom: 50px;
    margin-left: 500px;
}
.logo3 img{
    width: 350px;
    height: auto;
    float: center;
    margin-left: -120px;
    margin-top: 420px;
}
.logo4 img{
    width: 140px;
    height: auto;
    float: center;
    margin-top: -500px;
    margin-bottom: 65px;
    margin-left: 140px;
}
.logo5 img{
    width: 120px;
    height: auto;
    float: center;
    margin-top: -500px;
    margin-bottom: 110px;
    margin-left: 300px;
}
.extra-info{
    position: absolute;
    width: 800px;
    height: 300px;
    margin: 10% 20%;
    text-align: center;
    top: -60px;
    left: 470px;
    color: white;
    font-family: 'Gilroy';
    font-size: 30px;
}
.extra-info1{
    position: absolute;
    width: 800px;
    height: 300px;
    margin: 10% 20%;
    text-align: center;
    top: 20px;
    left: 365px;
    color: white;
    font-family:'Gilroy';
    font-size: 14px;
}
.extra-info2{
    position: absolute;
    width: 800px;
    height: 300px;
    margin: 10% 20%;
    text-align: center;
    top: 240px;
    left: 455px;
    color: white;
    font-family:'Gilroy';
    font-size: 14px;
}
.extra-info3{
    position: absolute;
    width: 800px;
    height: 300px;
    margin: 10% 20%;
    text-align: center;
    bottom: -510px;
    left: 423px;
    color: white;
    font-family:'Gilroy';
    font-size: 14px;
}
.badge img{
    position: absolute;
    width: 200px;
    height: auto;
    float: center;
    margin-top: -660px;
    margin-bottom: 110px;
    margin-left: 680px;
}
.game1 img{
    position: absolute;
    width: 200px;
    height: auto;
    float: center;
    margin-top: -420px;
    margin-bottom: 110px;
    margin-left: 700px;
}
.game2 img{
    position: absolute;
    width: 120px;
    height: auto;
    float: center;
    margin-top: -440px;
    margin-bottom: 110px;
    margin-left: 920px;
}
.game3 img{
    position: absolute;
    width: 260px;
    height: auto;
    float: center;
    margin-top: -510px;
    margin-bottom: 110px;
    margin-left: 1030px;
}
.football img{
    position: absolute;
    width: 260px;
    height: 150px;
    float: center;
    margin-top: -280px;
    margin-bottom: 120px;
    margin-left: 705px;
}

    