*{
    margin: 0;
    padding: 0;
    
}
.wrapper{
    width: 1170px;
    height: auto;
    margin: auto;
}
@font-face {
    font-family: 'Gilroy';
    src: url(Fonts/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf);
}

header{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("images/bg.png");
    height: 120vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: right right;
    position: relative;
}
.nav-area{
    list-style-type: none;
    font-family: 'Gilroy';
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family:'Gilroy';
    font-size: 14px;
}
.nav-area li a:hover{
    background: white;
    color: #333;
}
.logo img{
    width: 100px;
    height: auto;
    display: inline-block
}
.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 10% 20%;
    text-align: left;
    top: -20px;
    left: -95px;
    color: white;
    font-family:'Gilroy';
    font-size: 30px;
}
.welcome-text hr{
    width: 1300px;
}
.welcome-description{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 10% 20%;
    text-align: left;
    top: 60px;
    left: -95px;
    color: white;
    font-family:'Gilroy';
    font-size: 24px;
}
.skills{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 10% 20%;
    text-align: left;
    top: 320px;
    left: -120px;
    color: white;
    font-family:'Gilroy';
    font-size: 12px;
}
.skills hr{
    width: 190px;
    
}
.logo2 img{
    width: 250px;
    height: auto;
    float: center;
    margin-left: 240px;
    margin-top: 170px;
}
.giphy img{
    width: 220px;
    height: auto;
    float: center;
    margin-top: -500px;
    margin-bottom: 50px;
    margin-left: 500px;
}
.wordlogo img{
    width: 350px;
    height: auto;
    float: center;
    margin-left: -120px;
    margin-top: 500px;
}
.pptxlogo img{
    width: 140px;
    height: auto;
    float: center;
    margin-top: -500px;
    margin-bottom: 65px;
    margin-left: 140px;
}
.excellogo img{
    width: 120px;
    height: auto;
    float: center;
    margin-top: -500px;
    margin-bottom: 115px;
    margin-left: 300px;
}
.pylogo img{
    width: 120px;
    height: auto;
    float: center;
    margin-top: -500px;
    margin-bottom: 145px;
    margin-left: 450px;
}
.hobbies-interests{
    position: absolute;
    width: 800px;
    height: 300px;
    margin: 10% 20%;
    text-align: center;
    top: -60px;
    left: 470px;
    color: white;
    font-family: 'Gilroy';
    font-size: 30px;
}
.football-team{
    position: absolute;
    width: 800px;
    height: 300px;
    margin: 10% 20%;
    text-align: center;
    top: 20px;
    left: 365px;
    color: white;
    font-family:'Gilroy';
    font-size: 14px;
}
.gaming{
    position: absolute;
    width: 800px;
    height: 300px;
    margin: 10% 20%;
    text-align: center;
    top: 240px;
    left: 455px;
    color: white;
    font-family:'Gilroy';
    font-size: 14px;
}
.football2{
    position: absolute;
    width: 800px;
    height: 300px;
    margin: 10% 20%;
    text-align: center;
    bottom: -510px;
    left: 423px;
    color: white;
    font-family:'Gilroy';
    font-size: 14px;
}
.boro-badge img{
    position: absolute;
    width: 200px;
    height: auto;
    float: center;
    margin-top: -780px;
    margin-bottom: 110px;
    margin-left: 680px;
}
.game1 img{
    position: absolute;
    width: 200px;
    height: auto;
    float: center;
    margin-top: -540px;
    margin-bottom: 110px;
    margin-left: 700px;
}
.game2 img{
    position: absolute;
    width: 120px;
    height: auto;
    float: center;
    margin-top: -560px;
    margin-bottom: 110px;
    margin-left: 920px;
}
.game3 img{
    position: absolute;
    width: 260px;
    height: auto;
    float: center;
    margin-top: -625px;
    margin-bottom: 110px;
    margin-left: 1030px;
}
.footballgif img{
    position: absolute;
    width: 260px;
    height: 150px;
    float: center;
    margin-top: -390px;
    margin-bottom: 120px;
    margin-left: 705px;
}

@media (max-width: 375px) and (max-height: 667px) /* Iphone SE*/ {
    header {
        background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("images/bg.png");
        height: 460vh;
        width: max-content;
        -webkit-background-size:cover;
        background-size: cover;
        background-position: right right;
        position: relative;
    }
    .nav-area{
        list-style-type: none;
        font-family: 'Gilroy';
    }
    .nav-area li{
        display: inline-block;
    }
    .nav-area li a{
        color: white;
        text-decoration: none;
        margin-left: 157px;
        padding: 1px 2px;
        font-family:'Gilroy';
        font-size: 28px;
    }
    .nav-area li a:hover{
        background: white;
        color: #333;
    }
    .logo img{
        width: 300px;
        margin-left: 340px;
        height: auto;
        display: inline-block;
    }
    .welcome-text{
        position: absolute;
        width: 700px;
        height: 300px;
        margin: 10% 20%;
        text-align: left;
        top: 250px;
        left: -60px;
        color: white;
        font-family:'Gilroy';
        font-size: 48px;
    }
    .welcome-text hr{
        width: 400px;
    }
    .welcome-description{
        position: absolute;
        width: 800px;
        height: 300px;
        margin: 10% 20%;
        text-align: left;
        top: 380px;
        left: -55px;
        color: white;
        font-family:'Gilroy';
        font-size: 40px;
    }
    .skills{
        position: absolute;
        width: 600px;
        height: 300px;
        margin: 10% 20%;
        text-align: left;
        top: 470px;
        left: -130px;
        color: white;
        font-family:'Gilroy';
        font-size: 22px;
    }
    .skills hr{
        width: 340px;
        
    }
    .logo2 img{
        width: 350px;
        height: auto;
        float: center;
        margin-left: 160px;
        margin-top: 285px;
    }
    .giphy img{
        width: 280px;
        height: auto;
        float: center;
        margin-top: -500px;
        margin-bottom: 90px;
        margin-left: 520px;
    }
    .wordlogo img{
        width: 750px;
        height: auto;
        float: center;
        margin-left: -260px;
        margin-top: 950px;
    }
    .pptxlogo img{
        width: 310px;
        height: auto;
        float: center;
        margin-top: -640px;
        margin-bottom: 110px;
        margin-left: 280px;
    }
    .excellogo img{
        width: 240px;
        height: auto;
        float: center;
        margin-top: -500px;
        margin-bottom: -50px;
        margin-left: 0px;
    }
    .pylogo img{
        width: 250px;
        height: auto;
        float: center;
        margin-top: -500px;
        margin-bottom: -10px;
        margin-left: 325px;
    }
    .hobbies-interests{
        position: absolute;
        width: 900px;
        height: 300px;
        margin: 10% 20%;
        text-align: center;
        top: 1650px;
        left: -248px;
        color: white;
        font-family: 'Gilroy';
        font-size: 34px;
    }
    .hobbies-interests hr{
        width: 500px;
    }
    .football-team{
        position: absolute;
        width: 800px;
        height: 300px;
        margin: 10% 20%;
        text-align: center;
        top: 1780px;
        left: -280px;
        color: white;
        font-family:'Gilroy';
        font-size: 20px;
    }
    .gaming{
        position: absolute;
        width: 1000px;
        height: 300px;
        margin: 10% 20%;
        text-align: left;
        top: 2050px;
        left: -165px;
        color: white;
        font-family:'Gilroy';
        font-size: 20px;
    }
    .football2{
        position: absolute;
        width: 800px;
        height: 300px;
        margin: 10% 20%;
        text-align: center;
        top: 2250px;
        left: -200px;
        color: white;
        font-family:'Gilroy';
        font-size: 20px;
    }
    .boro-badge img{
        width: 200px;
        height: auto;
        float: center;
        margin-top: 220px;
        margin-bottom: 110px;
        margin-left: -20px;
    }
    .game1 img{
        position: absolute;
        width: 200px;
        height: auto;
        float: center;
        margin-top: 520px;
        margin-bottom: 110px;
        margin-left: -10px;
    }
    .game2 img{
        position: absolute;
        width: 118px;
        height: auto;
        float: center;
        margin-top: 502px;
        margin-bottom: 110px;
        margin-left: 220px;
    }
    .game3 img{
        position: absolute;
        width: 260px;
        height: auto;
        float: center;
        margin-top: 430px;
        margin-bottom: 110px;
        margin-left: 350px;
    }
    .footballgif img{
        position: absolute;
        width: 260px;
        height: 150px;
        float: center;
        margin-top: 700px;
        margin-bottom: 120px;
        margin-left: -10px;
    }

/* ------------------------------------- */

}
@media (max-width: 414px) and (max-height: 896px) /* Iphone XR*/ {
    header {
        background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("images/bg.png");
        height: 350vh;
        width: max-content;
        -webkit-background-size:cover;
        background-size: cover;
        background-position: right right;
        position: relative;
    }
    .nav-area{
        list-style-type: none;
        font-family: 'Gilroy';
    }
    .nav-area li{
        display: inline-block;
    }
    .nav-area li a{
        color: white;
        text-decoration: none;
        margin-left: 198px;
        padding: 1px 2px;
        font-family:'Gilroy';
        font-size: 28px;
    }
    .nav-area li a:hover{
        background: white;
        color: #333;
    }
    .logo img{
        width: 300px;
        margin-left: 420px;
        height: auto;
        display: inline-block;
    }
    .welcome-text{
        position: absolute;
        width: 700px;
        height: 300px;
        margin: 10% 20%;
        text-align: left;
        top: 250px;
        left: 20px;
        color: white;
        font-family:'Gilroy';
        font-size: 48px;
    }
    .welcome-text hr{
        width: 665px;
    }
    .welcome-description{
        position: absolute;
        width: 800px;
        height: 300px;
        margin: 10% 20%;
        text-align: left;
        top: 380px;
        left: 20px;
        color: white;
        font-family:'Gilroy';
        font-size: 40px;
    }
    .skills{
        position: absolute;
        width: 600px;
        height: 300px;
        margin: 10% 20%;
        text-align: left;
        top: 470px;
        left: -130px;
        color: white;
        font-family:'Gilroy';
        font-size: 22px;
    }
    .skills hr{
        width: 340px;
        
    }
    .logo2 img{
        width: 350px;
        height: auto;
        float: center;
        margin-left: 210px;
        margin-top: 285px;
    }
    .giphy img{
        width: 280px;
        height: auto;
        float: center;
        margin-top: -500px;
        margin-bottom: 90px;
        margin-left: 560px;
    }
    .wordlogo img{
        width: 750px;
        height: auto;
        float: center;
        margin-left: -260px;
        margin-top: 950px;
    }
    .pptxlogo img{
        width: 310px;
        height: auto;
        float: center;
        margin-top: -640px;
        margin-bottom: 110px;
        margin-left: 280px;
    }
    .excellogo img{
        width: 240px;
        height: auto;
        float: center;
        margin-top: -500px;
        margin-bottom: -50px;
        margin-left: 0px;
    }
    .pylogo img{
        width: 250px;
        height: auto;
        float: center;
        margin-top: -500px;
        margin-bottom: -10px;
        margin-left: 325px;
    }
    .hobbies-interests{
        position: absolute;
        width: 900px;
        height: 300px;
        margin: 10% 20%;
        text-align: center;
        top: 1650px;
        left: -248px;
        color: white;
        font-family: 'Gilroy';
        font-size: 34px;
    }
    .hobbies-interests hr{
        width: 500px;
    }
    .football-team{
        position: absolute;
        width: 800px;
        height: 300px;
        margin: 10% 20%;
        text-align: center;
        top: 1780px;
        left: -220px;
        color: white;
        font-family:'Gilroy';
        font-size: 24px;
    }
    .gaming{
        position: absolute;
        width: 800px;
        height: 300px;
        margin: 10% 20%;
        text-align: left;
        top: 2050px;
        left: -155px;
        color: white;
        font-family:'Gilroy';
        font-size: 24px;
    }
    .boro-badge img{
        width: 200px;
        height: auto;
        float: center;
        margin-top: 230px;
        margin-bottom: 110px;
        margin-left: -20px;
    }
    .game1 img{
        position: absolute;
        width: 200px;
        height: auto;
        float: center;
        margin-top: 570px;
        margin-bottom: 110px;
        margin-left: -10px;
    }
    .game2 img{
        position: absolute;
        width: 118px;
        height: auto;
        float: center;
        margin-top: 552px;
        margin-bottom: 110px;
        margin-left: 220px;
    }
    .game3 img{
        position: absolute;
        width: 260px;
        height: auto;
        float: center;
        margin-top: 480px;
        margin-bottom: 110px;
        margin-left: 350px;
    }
    .footballgif img{
        position: absolute;
        width: 350px;
        height: auto;
        float: center;
        margin-top: 830px;
        margin-bottom: 120px;
        margin-left: 10px;
    }
    .football2{
        position: absolute;
        width: 600px;
        height: 300px;
        margin: 10% 20%;
        text-align: center;
        top: 2300px;
        left: -230px;
        color: white;
        font-family:'Gilroy';
        font-size: 24px;
  }


  /* ------------------------------------- */

}
@media (max-width: 390px) and (max-height: 844px) /* Iphone 12 Pro*/ {
    header {
        background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("images/bg.png");
        height: 380vh;
        width: max-content;
        -webkit-background-size:cover;
        background-size: cover;
        background-position: right right;
        position: relative;
    }
    .nav-area{
        list-style-type: none;
        font-family: 'Gilroy';
    }
    .nav-area li{
        display: inline-block;
    }
    .nav-area li a{
        color: white;
        text-decoration: none;
        margin-left: 198px;
        padding: 1px 2px;
        font-family:'Gilroy';
        font-size: 28px;
    }
    .nav-area li a:hover{
        background: white;
        color: #333;
    }
    .logo img{
        width: 300px;
        margin-left: 420px;
        height: auto;
        display: inline-block;
    }
    .welcome-text{
        position: absolute;
        width: 700px;
        height: 300px;
        margin: 10% 20%;
        text-align: left;
        top: 250px;
        left: 20px;
        color: white;
        font-family:'Gilroy';
        font-size: 48px;
    }
    .welcome-text hr{
        width: 665px;
    }
    .welcome-description{
        position: absolute;
        width: 800px;
        height: 300px;
        margin: 10% 20%;
        text-align: left;
        top: 380px;
        left: 20px;
        color: white;
        font-family:'Gilroy';
        font-size: 40px;
    }
    .skills{
        position: absolute;
        width: 600px;
        height: 300px;
        margin: 10% 20%;
        text-align: left;
        top: 470px;
        left: -130px;
        color: white;
        font-family:'Gilroy';
        font-size: 22px;
    }
    .skills hr{
        width: 340px;
        
    }
    .logo2 img{
        width: 350px;
        height: auto;
        float: center;
        margin-left: 210px;
        margin-top: 285px;
    }
    .giphy img{
        width: 280px;
        height: auto;
        float: center;
        margin-top: -500px;
        margin-bottom: 90px;
        margin-left: 560px;
    }
    .wordlogo img{
        width: 750px;
        height: auto;
        float: center;
        margin-left: -260px;
        margin-top: 950px;
    }
    .pptxlogo img{
        width: 310px;
        height: auto;
        float: center;
        margin-top: -640px;
        margin-bottom: 110px;
        margin-left: 280px;
    }
    .excellogo img{
        width: 240px;
        height: auto;
        float: center;
        margin-top: -500px;
        margin-bottom: -50px;
        margin-left: 0px;
    }
    .pylogo img{
        width: 250px;
        height: auto;
        float: center;
        margin-top: -500px;
        margin-bottom: -10px;
        margin-left: 325px;
    }
    .hobbies-interests{
        position: absolute;
        width: 900px;
        height: 300px;
        margin: 10% 20%;
        text-align: center;
        top: 1650px;
        left: -248px;
        color: white;
        font-family: 'Gilroy';
        font-size: 34px;
    }
    .hobbies-interests hr{
        width: 500px;
    }
    .football-team{
        position: absolute;
        width: 800px;
        height: 300px;
        margin: 10% 20%;
        text-align: center;
        top: 1780px;
        left: -220px;
        color: white;
        font-family:'Gilroy';
        font-size: 24px;
    }
    .gaming{
        position: absolute;
        width: 800px;
        height: 300px;
        margin: 10% 20%;
        text-align: left;
        top: 2050px;
        left: -155px;
        color: white;
        font-family:'Gilroy';
        font-size: 24px;
    }
    .boro-badge img{
        width: 200px;
        height: auto;
        float: center;
        margin-top: 230px;
        margin-bottom: 110px;
        margin-left: -20px;
    }
    .game1 img{
        position: absolute;
        width: 200px;
        height: auto;
        float: center;
        margin-top: 570px;
        margin-bottom: 110px;
        margin-left: -10px;
    }
    .game2 img{
        position: absolute;
        width: 118px;
        height: auto;
        float: center;
        margin-top: 552px;
        margin-bottom: 110px;
        margin-left: 220px;
    }
    .game3 img{
        position: absolute;
        width: 260px;
        height: auto;
        float: center;
        margin-top: 480px;
        margin-bottom: 110px;
        margin-left: 350px;
    }
    .footballgif img{
        position: absolute;
        width: 350px;
        height: auto;
        float: center;
        margin-top: 830px;
        margin-bottom: 120px;
        margin-left: 10px;
    }
    .football2{
        position: absolute;
        width: 600px;
        height: 300px;
        margin: 10% 20%;
        text-align: center;
        top: 2300px;
        left: -230px;
        color: white;
        font-family:'Gilroy';
        font-size: 24px;
  }

  /* ------------------------------------- */

}
@media (max-width: 393px) and (max-height: 851px) /*Pixel 5*/ {
    header {
        background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("images/bg.png");
        height: 380vh;
        width: max-content;
        -webkit-background-size:cover;
        background-size: cover;
        background-position: right right;
        position: relative;
    }
    .nav-area{
        list-style-type: none;
        font-family: 'Gilroy';
    }
    .nav-area li{
        display: inline-block;
    }
    .nav-area li a{
        color: white;
        text-decoration: none;
        margin-left: 198px;
        padding: 1px 2px;
        font-family:'Gilroy';
        font-size: 28px;
    }
    .nav-area li a:hover{
        background: white;
        color: #333;
    }
    .logo img{
        width: 300px;
        margin-left: 420px;
        height: auto;
        display: inline-block;
    }
    .welcome-text{
        position: absolute;
        width: 700px;
        height: 300px;
        margin: 10% 20%;
        text-align: left;
        top: 250px;
        left: 20px;
        color: white;
        font-family:'Gilroy';
        font-size: 48px;
    }
    .welcome-text hr{
        width: 665px;
    }
    .welcome-description{
        position: absolute;
        width: 800px;
        height: 300px;
        margin: 10% 20%;
        text-align: left;
        top: 380px;
        left: 20px;
        color: white;
        font-family:'Gilroy';
        font-size: 40px;
    }
    .skills{
        position: absolute;
        width: 600px;
        height: 300px;
        margin: 10% 20%;
        text-align: left;
        top: 470px;
        left: -130px;
        color: white;
        font-family:'Gilroy';
        font-size: 22px;
    }
    .skills hr{
        width: 340px;
        
    }
    .logo2 img{
        width: 350px;
        height: auto;
        float: center;
        margin-left: 210px;
        margin-top: 285px;
    }
    .giphy img{
        width: 280px;
        height: auto;
        float: center;
        margin-top: -500px;
        margin-bottom: 90px;
        margin-left: 560px;
    }
    .wordlogo img{
        width: 750px;
        height: auto;
        float: center;
        margin-left: -260px;
        margin-top: 950px;
    }
    .pptxlogo img{
        width: 310px;
        height: auto;
        float: center;
        margin-top: -640px;
        margin-bottom: 110px;
        margin-left: 280px;
    }
    .excellogo img{
        width: 240px;
        height: auto;
        float: center;
        margin-top: -500px;
        margin-bottom: -50px;
        margin-left: 0px;
    }
    .pylogo img{
        width: 250px;
        height: auto;
        float: center;
        margin-top: -500px;
        margin-bottom: -10px;
        margin-left: 325px;
    }
    .hobbies-interests{
        position: absolute;
        width: 900px;
        height: 300px;
        margin: 10% 20%;
        text-align: center;
        top: 1650px;
        left: -248px;
        color: white;
        font-family: 'Gilroy';
        font-size: 34px;
    }
    .hobbies-interests hr{
        width: 500px;
    }
    .football-team{
        position: absolute;
        width: 800px;
        height: 300px;
        margin: 10% 20%;
        text-align: center;
        top: 1780px;
        left: -220px;
        color: white;
        font-family:'Gilroy';
        font-size: 24px;
    }
    .gaming{
        position: absolute;
        width: 800px;
        height: 300px;
        margin: 10% 20%;
        text-align: left;
        top: 2050px;
        left: -155px;
        color: white;
        font-family:'Gilroy';
        font-size: 24px;
    }
    .boro-badge img{
        width: 200px;
        height: auto;
        float: center;
        margin-top: 230px;
        margin-bottom: 110px;
        margin-left: -20px;
    }
    .game1 img{
        position: absolute;
        width: 200px;
        height: auto;
        float: center;
        margin-top: 570px;
        margin-bottom: 110px;
        margin-left: -10px;
    }
    .game2 img{
        position: absolute;
        width: 118px;
        height: auto;
        float: center;
        margin-top: 552px;
        margin-bottom: 110px;
        margin-left: 220px;
    }
    .game3 img{
        position: absolute;
        width: 260px;
        height: auto;
        float: center;
        margin-top: 480px;
        margin-bottom: 110px;
        margin-left: 350px;
    }
    .footballgif img{
        position: absolute;
        width: 350px;
        height: auto;
        float: center;
        margin-top: 830px;
        margin-bottom: 120px;
        margin-left: 10px;
    }
    .football2{
        position: absolute;
        width: 600px;
        height: 300px;
        margin: 10% 20%;
        text-align: center;
        top: 2300px;
        left: -230px;
        color: white;
        font-family:'Gilroy';
        font-size: 24px;
  }
  

  /* ------------------------------------- */

}
@media (max-width: 360px) and (max-height: 740px) /*Samsung Galaxy S8+*/ {
    header {
        background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("images/bg.png");
        height: 430vh;
        width: max-content;
        -webkit-background-size:cover;
        background-size: cover;
        background-position: right right;
        position: relative;
    }
    .nav-area{
        list-style-type: none;
        font-family: 'Gilroy';
    }
    .nav-area li{
        display: inline-block;
    }
    .nav-area li a{
        color: white;
        text-decoration: none;
        margin-left: 198px;
        padding: 1px 2px;
        font-family:'Gilroy';
        font-size: 28px;
    }
    .nav-area li a:hover{
        background: white;
        color: #333;
    }
    .logo img{
        width: 300px;
        margin-left: 420px;
        height: auto;
        display: inline-block;
    }
    .welcome-text{
        position: absolute;
        width: 700px;
        height: 300px;
        margin: 10% 20%;
        text-align: left;
        top: 250px;
        left: 20px;
        color: white;
        font-family:'Gilroy';
        font-size: 48px;
    }
    .welcome-text hr{
        width: 665px;
    }
    .welcome-description{
        position: absolute;
        width: 800px;
        height: 300px;
        margin: 10% 20%;
        text-align: left;
        top: 380px;
        left: 20px;
        color: white;
        font-family:'Gilroy';
        font-size: 40px;
    }
    .skills{
        position: absolute;
        width: 600px;
        height: 300px;
        margin: 10% 20%;
        text-align: left;
        top: 470px;
        left: -130px;
        color: white;
        font-family:'Gilroy';
        font-size: 22px;
    }
    .skills hr{
        width: 340px;
        
    }
    .logo2 img{
        width: 350px;
        height: auto;
        float: center;
        margin-left: 210px;
        margin-top: 285px;
    }
    .giphy img{
        width: 280px;
        height: auto;
        float: center;
        margin-top: -500px;
        margin-bottom: 90px;
        margin-left: 560px;
    }
    .wordlogo img{
        width: 750px;
        height: auto;
        float: center;
        margin-left: -260px;
        margin-top: 950px;
    }
    .pptxlogo img{
        width: 310px;
        height: auto;
        float: center;
        margin-top: -640px;
        margin-bottom: 110px;
        margin-left: 280px;
    }
    .excellogo img{
        width: 240px;
        height: auto;
        float: center;
        margin-top: -500px;
        margin-bottom: -50px;
        margin-left: 0px;
    }
    .pylogo img{
        width: 250px;
        height: auto;
        float: center;
        margin-top: -500px;
        margin-bottom: -10px;
        margin-left: 325px;
    }
    .hobbies-interests{
        position: absolute;
        width: 900px;
        height: 300px;
        margin: 10% 20%;
        text-align: center;
        top: 1650px;
        left: -248px;
        color: white;
        font-family: 'Gilroy';
        font-size: 34px;
    }
    .hobbies-interests hr{
        width: 500px;
    }
    .football-team{
        position: absolute;
        width: 800px;
        height: 300px;
        margin: 10% 20%;
        text-align: center;
        top: 1780px;
        left: -220px;
        color: white;
        font-family:'Gilroy';
        font-size: 24px;
    }
    .gaming{
        position: absolute;
        width: 800px;
        height: 300px;
        margin: 10% 20%;
        text-align: left;
        top: 2050px;
        left: -155px;
        color: white;
        font-family:'Gilroy';
        font-size: 24px;
    }
    .boro-badge img{
        width: 200px;
        height: auto;
        float: center;
        margin-top: 230px;
        margin-bottom: 110px;
        margin-left: -20px;
    }
    .game1 img{
        position: absolute;
        width: 200px;
        height: auto;
        float: center;
        margin-top: 570px;
        margin-bottom: 110px;
        margin-left: -10px;
    }
    .game2 img{
        position: absolute;
        width: 118px;
        height: auto;
        float: center;
        margin-top: 552px;
        margin-bottom: 110px;
        margin-left: 220px;
    }
    .game3 img{
        position: absolute;
        width: 260px;
        height: auto;
        float: center;
        margin-top: 480px;
        margin-bottom: 110px;
        margin-left: 350px;
    }
    .footballgif img{
        position: absolute;
        width: 350px;
        height: auto;
        float: center;
        margin-top: 830px;
        margin-bottom: 120px;
        margin-left: 10px;
    }
    .football2{
        position: absolute;
        width: 600px;
        height: 300px;
        margin: 10% 20%;
        text-align: center;
        top: 2300px;
        left: -230px;
        color: white;
        font-family:'Gilroy';
        font-size: 24px;
  }
}