*{
    margin: 0;
    padding: 0;
    
}
.wrapper{
    width: 1170px;
    height: auto;
    margin: auto;
}
@font-face {
    font-family: 'Gilroy';
    src: url(Fonts/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf);
}

header{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("images/bg.png");
    height: 120vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: right right;
    position: relative;
}
.nav-area{
    float: right
    list-style-type none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family:'Gilroy';
    font-size: 14px;
}
.nav-area li a:hover{
    background: white;
    color: #333;
}
.logo img{
    width: 100px;
    align-items: center;
    height: auto;
}
.address-info{
    position: absolute;
    width: 800px;
    height: 300px;
    margin: 7.5% 12.5%;
    text-align: left;
    color: white;
    font-family:'Gilroy';
    font-size: 30px;
    top: 60px;
    left: 70px;
}
.phone-num{
    position: absolute;
    width: 700px;
    height: 300px;
    margin: 7.5% 12.5%;
    text-align: left;
    color: white;
    font-family:'Gilroy';
    font-size: 30px;
    top: 215px;
    left: 70px;
}
.pemail-info{
    position: absolute;
    width: 700px;
    height: 300px;
    margin: 7.5% 12.5%;
    text-align: left;
    color: white;
    font-family:'Gilroy';
    font-size: 30px;
    top: 360px;
    left: 70px;
}
.cemail-info{
    position: absolute;
    width: 700px;
    height: 300px;
    margin: 7.5% 12.5%;
    text-align: left;
    color: white;
    font-family:'Gilroy';
    font-size: 30px;
    top: 510px;
    left: 70px;
}
